@media (max-width: 991px) {
  .navbar-container .burger-icon {
    display: flex;
  }

  .navbar-container .nav-Links {
    position: absolute;
    right: 0;
    top: 125%;
    flex-direction: column;
    width: 25em;
    height: 0;
    background: var(--neutral-color);
    transition: 0.6s ease;
    border-radius: 0.5em;
    text-align: center;
    overflow: hidden;
    z-index: 9999;
  }

  .navbar-container .nav-Links ul {
    flex-direction: column;
    margin-top: 1.5em;
  }

  .navbar-container .nav-Links .nav-icons {
    margin-bottom: 1.5em;
  }

  .navbar-container .nav-Links {
    height: 0;
  }

  .navbar-container .nav-Links.active {
    height: 21em;
  }
}

@media (max-width: 500px) {
  .navbar-container .nav-Links {
    width: 15em;
  }

  .navbar-container .logo {
    width: 150px;
    height: 40px;
  }

  .header {
    --spacing-large: 1.5em;
  }
}
